<a href="https://colab.research.google.com/github/kaindoh/independent3/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Evalyne_Wamathi_Kaindoh_DataReport_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://colab.research.google.com/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Colaboratory!</h1>


Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

#Importing libraries

In [0]:
#importing libraries
import pandas as pd
import numpy as np
import datetime as dt

#Loading files

In [0]:
#loading CDR description
CDR_descr=pd.read_excel("CDR_description.xlsx",spreadsheet=0)
CDR_descr

In [0]:
#loading cell geo description
cell_geo_decr=pd.read_excel("cells_geo_description.xlsx",spreadsheet=0)
cell_geo_decr.head()

In [0]:
#Loading cell geo dataset
cell_geo=pd.read_csv("cells_geo.csv",delimiter=";",index_col=0)
cell_geo.head()

In [0]:
#converting the columns to lower
cell_geo.columns=map(str.lower,cell_geo.columns)
cell_geo.columns
cell_geo.head()

In [0]:
#loading moringa dataset for date 7
mtn1=pd.read_csv("http://bit.ly/TelecomDataset1")
mtn1.head()

In [0]:
#converting the columns names to upper
mtn1.columns=map(str.lower,mtn1.columns)
mtn1.columns
#This converting the columns so that they can be standard for the the three dates
columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id']
mtn1.columns=columns
mtn1.head()

In [0]:
#loading moringa dataset for date 8
mtn2=pd.read_csv("http://bit.ly/TelecomDataset2")

In [0]:
#standardizing the name of the columns
mtn2.columns=columns
mtn2.head()

In [0]:
#loading moringa dataset for date 9
mtn3=pd.read_csv("http://bit.ly/TelecomDataset3")

In [0]:
#standardizing the names of the columns
mtn3.columns=columns
mtn3.head()

#checking how we can merge the cell geo with the days

In [0]:
mtn1[mtn1.cell_id.isin(cell_geo.cell_id)].head()

In [0]:
mtn2[mtn2.cell_id.isin(cell_geo.cell_id)].head()t)].head()

In [0]:
mtn3[mtn3.cell_id.isin(cell_geo.cell_id)].head()

# merging the days dataset  with cell geo

In [0]:
#merging cell geo with mt1
mtn1merged=mtn1.merge(cell_geo,how='inner',on='cell_id')

In [0]:
#display
mtn1merged.head()

In [0]:
#merging cell geo with mt2
mtn2merged=mtn2.merge(cell_geo,how='inner',on='cell_id')

In [0]:
#display
mtn2merged.head()

In [0]:
#merging cell geo with mt3
mtn3merged=mtn3.merge(cell_geo,how='inner',on='cell_id')

In [0]:
#display
mtn3merged.head()

# concating the merged datasets

In [0]:
#concating the three mrged datasets
mtnTotal=pd.concat([mtn1merged,mtn2merged,mtn3merged],ignore_index=True)
mtnTotal.head()

# Data cleaning the concatted table

In [0]:
#We are first dopping this tables since it has been told that they are not necessary
mtnTotal.drop(['cell_on_site','country_a','country_b'],axis=1,inplace=True)
mtnTotal.head()

In [0]:
#checking for null values
mtnTotal.isnull().sum()

In [0]:
#we fill the null values with the median values
mtnTotal.fillna(np.median,inplace=True)

In [0]:
#checking if the values have been filled
mtnTotal.isnull().sum()

In [0]:
#spliting date and time independently
mtnTotal[['Date','time']]=mtnTotal.datetime.str.split(expand=True)
mtnTotal.head()

In [0]:
#converting the data types of datetime
mtnTotal['datetime']=pd.to_datetime(mtnTotal['datetime'])
mtnTotal['datetime'].dtype

In [0]:
#converting the data types of date
mtnTotal['Date']=pd.to_datetime(mtnTotal['Date'])
mtnTotal['Date'].dtype

In [0]:
#converting the data types of time
mtnTotal['time']=pd.to_datetime(mtnTotal['time'])
mtnTotal['time'].dtype

In [0]:
mtnTotal.dtypes

# Doing the Analysis

In [0]:
#1.Which ones were the most used city for the three days?
most_usd_cities=mtnTotal.groupby(['Date', 'villes'])['villes'].count().sort_values(ascending=False)
most_usd_cities

In [0]:
#2.Which cities were the most used during business and home hours?

In [0]:
morning=dt.time(9)
morning
evening = dt.time(17)
buss_hr=mtnTotal[(mtnTotal.time.dt.time >= morning) & (mtnTotal.time.dt.time<=evening)]
buss_hr.head()

In [0]:
cities=buss_hr.groupby('villes')['villes'].count().sort_values(ascending=False)
cities

In [0]:
morning=dt.time(9)
morning
evening = dt.time(17)
home_hr=mtnTotal[~(mtnTotal.time.dt.time >= morning) & (mtnTotal.time.dt.time<=evening)]
home_hr.head()

In [0]:
cities=home_hr.groupby('villes')['villes'].count().sort_values(ascending=False)
cities

In [0]:
#3.Most used city for the three days?
most_usd_cities=mtnTotal.groupby( 'villes')['villes'].count().sort_values(ascending=False)
most_usd_cities